.abc {
    margin: 0;
    padding: 0;
    background: #ebaa8e;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .book-mein {
    width: 80%;
    height: auto;
    margin: auto;
    text-align: center;
  }
  
  .book {
    width: 30%;
    height: 300px;
    display: inline-block;
    margin: 8px;
    background: #fff;
    transform-style: preserve-3d;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.2), 0 20px 50px rgba(0, 0, 0, 0.2);
    transition: 1s;
  }
  
  .book:hover {
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5), 0 10px 50px rgba(0, 0, 0, 0.5);
  }
  
  .book:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #000;
    transform-origin: bottom;
    transform: skewX(-45deg);
  }
  
  .book:after {
    content: '';
    position: absolute;
    right: -5px;
    top: 0;
    width: 5px;
    height: 100%;
    background: rgb(39, 34, 34);
    transform-origin: left;
    transform: skewY(-45deg);
  }
  
  .imgbox img {
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 9999;
  }
  
  .book .imgbox {
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s;
    z-index: 9999;
  }
  
  .book:hover .imgbox {
    transform: rotateY(-135deg);
  }
  
  .book .content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
    padding: 30px;
  }
  
  .content h1 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
  }
  
  .content p {
    font-size: 12px;
    font-weight: 100;
    color: #444;
    text-align: justify;
  }
  
  @media only screen and (max-width:767px) {
    .book-mein {
        width: 50%;
    }
    .imgbox img {
        height: auto;
    }
    .book {
        width: 100%;
        height: auto;
        /* margin: 50px; */
    }
  }
  
  @media only screen and (max-width:549px) {
    .book-mein {
        width: 50%;
    }
    .imgbox img {
        height: auto;
    }
    .book {
        width: 100%;
        height: auto;
        margin: 10px 0px;
    }
  }