{% extends "yoggis/common.html" %}
{% block main %}
{% load static %}


    <!-- ======= Services Section ======= -->
    <section id="yogas" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
           
          <h2>Trending Now</h2>
          <p>Join the challenge</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
              <img class="image_yoga" src="../../static/yoggis/img/surya.jpg " >
     
              <h4 class="title"><a href="{% url 'leaderboard' %}">Surya Namaskar</a></h4>
              <h2 class="time_challenge">Time: 7:30-8:00 AM</h2>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-file"></i></div> -->
       <img class="image_yoga" src="../../static/yoggis/img/warrior.jpeg " >
              <h4 class="title"><a href="">Warrior II</a></h4>
              <h2 class="time_challenge">Time: 6:30-7:00 AM</h2>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-tachometer"></i></div> -->
              <div ><img class="image_yoga" src="../../static/yoggis/img/tri.jpg " ></div>
              <h4 class="title"><a href="">Trikonasana</a></h4>
              <h2 class="time_challenge">Time: 8:30-8:45 AM</h2>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
                <div ><img class="image_yoga" src="../../static/yoggis/img/ustra.jpg " ></div>
              <!-- <div class="icon"><i class="bx bx-world"></i></div> -->
              <h4 class="title"><a href="">Ustrasana</a></h4>
              <h2 class="time_challenge">Time: 6:00-6:15 AM</h2>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'yoggis/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'yoggis/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'yoggis/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'yoggis/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'yoggis/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'yoggis/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'yoggis/js/main.js' %}"></script>

</body>

</html>
{% endblock main %}