{% extends "yoggis/common.html" %}
{% block main %}
{% load static %}

<br>
<br>
<br>
    <!-- ======= Services Section ======= -->
    <section id="yogas" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
           
          
          <p>Yoga for Backpain</p>
        </div>
        <div class="row">
          {% for backpain_yoga in backpain %}
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" >
              <a href="{% url 'yoga-detail' pk1=backpain_yoga.id %}">
              <span class="clickable" >
                <div class="icon-box">
                <div class="icon" ><h3 class="title">{{ backpain_yoga.title }}</h4></div>
                
                <img class="card-img-top" src="{{ backpain_yoga.image.url }}" alt="Card image cap">
                
                </div>
              </span>
            </a>
            </div>
            {% endfor %}
  
          
  
  
          
        </div>
        

        
      </div>
    </section><!-- End Services Section -->

   
    <!-- ======= Services Section ======= -->
    <section id="yogas" class="services section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
             
           
            <p>Yoga for Asthma</p>
          </div>
          <div class="row">
            {% for asthma_yoga in asthma %}
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" >
                <a href="{% url 'yoga-detail' pk1=asthma_yoga.id %}">
                <span class="clickable" >
                  <div class="icon-box">
                  <div class="icon" ><h3 class="title">{{ asthma_yoga.title }}</h4></div>
                  
                  <img class="card-img-top" src="{{ asthma_yoga.image.url }}" alt="Card image cap">
                  
                  </div>
                </span>
              </a>
              </div>
              {% endfor %}
    
            
    
    
            
          </div>
          
  
        </div>
      </section><!-- End Services Section -->
   


{% endblock main %}