{% extends "yoggis/common.html" %}
{% block main %}
{% load static %}

<br>
<br>
<br
    <!-- ======= Services Section ======= -->
    <section id="yogas" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
           
          
          <p>Yoga for Backpain</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
              <img class="image_yoga" src="../../static/yoggis/img/surya.jpg " >
              <h4 class="title"><a href="{% url 'general' %}">Surya Namaskar</a></h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-file"></i></div> -->
       <img class="image_yoga" src="../../static/yoggis/img/warrior.jpeg " >
              <h4 class="title"><a href="">Warrior II</a></h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-tachometer"></i></div> -->
              <div ><img class="image_yoga" src="../../static/yoggis/img/tri.jpg " ></div>
              <h4 class="title"><a href="">Trikonasana</a></h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
                <div ><img class="image_yoga" src="../../static/yoggis/img/ustra.jpg " ></div>
              <!-- <div class="icon"><i class="bx bx-world"></i></div> -->
              <h4 class="title"><a href="">Ustrasana</a></h4>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

   
    <!-- ======= Services Section ======= -->
    <section id="yogas" class="services section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
             
           
            <p>Yoga for Asthma</p>
          </div>
          <div class="row">
            {% for asthma_yoga in asthma %}
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" >
                <a href="{% url 'tpose' %}">
                <span class="clickable" >
                  <div class="icon-box">
                  <div class="icon" ><h3 class="title">{{ asthma_yoga.title }}</h4></div>
                  
                  <img class="card-img-top" src="{{ asthma_yoga.image.url }}" alt="Card image cap">
                  
                  </div>
                </span>
              </a>
              </div>
              {% endfor %}
    
            
    
    
            
          </div>
          
  
        </div>
      </section><!-- End Services Section -->
   


{% endblock main %}