<meta http-equiv="Refresh" content="3; url='../general'" />
{% extends "yoggis/common.html" %}
{% block main %}
{% load static %}

<br>
<br>
<br>
    <!-- ======= Services Section ======= -->
    <section id="yogas" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
           
          
          <p>Congratulations for completing the challenge!</p>
        </div>
        <div class="row">
       
    <a href='{% url "chronic" %}'>You will be redirected after 2 seconds</a>

          
  
  
          
        </div>
        

        
      </div>
    </section><!-- End Services Section -->

   



{% endblock main %}