{% extends "yoggis/common.html" %}
{% block main %}

{% load static %}

  <!-- ======= Services Section ======= -->
  <section id="yogas" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        
        <p>Our Services</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" >
            <a href="{% url 'general' %}">
            <span class="clickable" >
              <div class="icon-box">
              <div class="icon" ><i class="bx bxl-dribbble"></i></div>
              <h4 class="title">T-pose</h4>
              </div>
            </span>
          </a>
          </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Chronic diseases</a></h4>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Challanges</a></h4>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Squad</a></h4>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

{% endblock main %}

