{% extends "yoggis/common.html" %}
{% block main %}

{% load static %}
<br>
<br>
  <!-- ======= Services Section ======= -->
  <section id="yogas" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        
        <p>Basic Poses</p>
      </div>


      <div class="row">
        {% for general_yoga in general %}
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" >
            <a href="{% url 'yoga-detail' pk1=general_yoga.id %}">
            <span class="clickable" >
              <div class="icon-box">
              <div class="icon" ><h3 class="title">{{ general_yoga.title }}</h4></div>
              
              <img class="card-img-top" src="{{ general_yoga.image.url }}" alt="Card image cap">
              

              </div>
            </span>
          </a>
          </div>
          {% endfor %}

        


        
      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Services Section ======= -->
  <section id="yogas" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        
        <p>Advanced</p>
      </div>


      <div class="row">
        {% for advanced_yoga in advanced %}
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" >
            <a href="{% url 'yoga-detail' pk1=advanced_yoga.id %}">
            <span class="clickable" >
              <div class="icon-box">
              <div class="icon" ><h3 class="title">{{ advanced_yoga.title }}</h4></div>
              
              <img class="card-img-top" src="{{ advanced_yoga.image.url }}" alt="Card image cap">
              

              </div>
            </span>
          </a>
          </div>
          {% endfor %}

        


        
      </div>

    </div>
  </section><!-- End Services Section -->


 
{% endblock main %}

