{% extends "yoggis/common.html" %}
{% block main %}
{% load static %}
  <!-- ======= Hero Section ======= -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <section id="hero" class="d-flex align-items-center">

            <div class="container">
              <div class="row gy-4">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                  <h1>Welcome to Yoggis</h1>
                  <h2>Perfect your practice with AI-powered yoga feedback and guidance</h2>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                  <img src="{% static 'yoggis/img/hero-img.jpeg' %}" class="img-fluid animated" alt="">
                </div>
              </div>
            </div>
        
        
          </section><!-- End Hero -->
        </div>
        <div class="carousel-item">
          <section id="hero" class="d-flex align-items-center">

            <div class="container">
              <div class="row gy-4">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                  <h1>Welcome to Yoggis</h1>
                  <h2>Perfect your practice with AI-powered yoga feedback and guidance</h2>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                  <img src="{% static 'yoggis/img/about-img.jpeg' %}" class="img-fluid animated" alt="">
                </div>
              </div>
            </div>
        
        
          </section><!-- End Hero -->
        </div>
        <div class="carousel-item">
          <section id="hero" class="d-flex align-items-center">

            <div class="container">
              <div class="row gy-4">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                  <h1>Welcome to Yoggis</h1>
                  <h2>Perfect your practice with AI-powered yoga feedback and guidance</h2>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                  <img src="{% static 'yoggis/img/treepose.jpeg' %}" class="img-fluid animated" alt="">
                </div>
              </div>
            </div>
        
        
          </section><!-- End Hero -->
        </div>
  
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="{% static 'yoggis/img/about-img.jpeg' %}" class="img-fluid" alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">What is exactly Y2K?</h3>
            <p data-aos="fade-up" data-aos-delay="100">
             Y2K or Yogaposes2Korrect is a website which aims at improving the mental and physical health of people in Pandemic times.It is a yoga trainer in your own devices which helps you to perform yoga poses and estimates the accuracy.
            </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-receipt"></i>
                <h4>How does it work?</h4>
                <p>The machine learning model calculates the accuracy of the yoga postures based on some calculations at the back-end.</p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-cube-alt"></i>
                <h4>Can anyone use it?</h4>
                <p>Yes! Anyone sitting at their homes can access the website with just a click.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="yogas" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          
          <p>Our Services</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="{% url 'general' %}">General</a></h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Chronic diseases</a></h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Meditation</a></h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Squad</a></h4>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    
    <section id="yogas" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
        
          <p>Trending yogas</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Downward facing dog</a></h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Warrior pose</a></h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Challenges</a></h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Yoga Squad</a></h4>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    

  <!-- ======= Footer ======= -->
  <footer id="footer">

    

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Yoggis</h3>
            <p>
              Pulchowk <br>
              Lalitpur, 44600<br>
              Nepal<br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p></p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

   
  </footer><!-- End Footer -->

  {% endblock main %}