{% extends "yoggis/common.html" %}
{% block main %}
{% load static %}
<!-- ======= Hero Section ======= -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <section id="hero" class="d-flex align-items-center">

          <div class="container">
            <div class="row gy-4">
              <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Welcome to Yoggis</h1>
                <h2>Perfect your practice with AI-powered yoga feedback and guidance</h2>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="{% static 'yoggis/img/treepose.jpeg' %}" class="img-fluid animated" alt="">
              </div>
            </div>
          </div>


        </section><!-- End Hero -->
      </div>
      <div class="carousel-item">
        <section id="hero" class="d-flex align-items-center">

          <div class="container">
            <div class="row gy-4">
              <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Welcome to Yoggis</h1>
                <h2>Perfect your practice with AI-powered yoga feedback and guidance</h2>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="{% static 'yoggis/img/about-img.jpeg' %}" class="img-fluid animated" alt="">
              </div>
            </div>
          </div>


        </section><!-- End Hero -->
      </div>
      <div class="carousel-item">
        <section id="hero" class="d-flex align-items-center">

          <div class="container">
            <div class="row gy-4">
              <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Welcome to Yoggis</h1>
                <h2>Perfect your practice with AI-powered yoga feedback and guidance</h2>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="{% static 'yoggis/img/treepose.jpeg' %}" class="img-fluid animated" alt="">
              </div>
            </div>
          </div>


        </section><!-- End Hero -->
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="{% static 'yoggis/img/about-img.jpeg' %}" class="img-fluid" alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">What is exactly Yoggis?</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              Yoggis is a personalized, on-demand yoga instruction app from a virtual AI assistant that provides
              real-time feedback.
            </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-receipt"></i>
                <h4>How does it work?</h4>
                <p>The machine learning model calculates the accuracy of the yoga postures based on some calculations at
                  the back-end.</p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-cube-alt"></i>
                <h4>Can anyone use it?</h4>
                <p>Yes! Anyone sitting at their homes can access the website with just a click.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="yogas" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">

          <p>Our Services</p>
        </div>

        <div class="row">


          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <a href="{% url 'general' %}">
              <span class="clickable">
                <div class="icon-box">
                  <div class="icon" ><img class="image_yoga" src="{% static 'yoggis/img/treepose.jpeg' %}" ></i></div>
                  <h4 class="title">General Yoga Poses</h4>
                </div>
              </span>
            </a>
          </div>




          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <a href="{% url 'chronic' %}">
              <span class="clickable">
                <div class="icon-box">
                  <div class="icon" ><img class="image_yoga" src="{% static 'yoggis/img/warrior.jpeg' %}" ></i></div>
                  <h4 class="title">Yoga for Chronic Diseases</h4>
                </div>
              </span>
            </a>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <a href="{% url 'meditation' %}">
              <span class="clickable">
                <div class="icon-box">
                  <div class="icon" ><img class="image_yoga" src="{% static 'yoggis/img/hero-img.jpeg' %}" ></div>
                  <h4 class="title">Meditation</h4>
                </div>
              </span>
            </a>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><img class="image_yoga" src="{% static 'yoggis/img/squad.jpg' %}" ></div>
              <h4 class="title"><a href="/squad">Yoga Squad</a></h4>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Services Section ======= -->
    <section id="plans" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">

          <h2>Trending Now</h2>
          <p>Join the challenge</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
              <img class="image_yoga" src="../../static/yoggis/img/surya.jpg ">

              <h4 class="title"><a href="#">Surya Namaskar</a></h4>
              <h2 class="time_challenge">Time: 7:30-8:00 AM</h2>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-file"></i></div> -->
              <img class="image_yoga" src="../../static/yoggis/img/warrior.jpeg ">
              <h4 class="title"><a href="">Warrior II</a></h4>
              <h2 class="time_challenge">Time: 6:30-7:00 AM</h2>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-tachometer"></i></div> -->
              <div><img class="image_yoga" src="../../static/yoggis/img/tri.jpg "></div>
              <h4 class="title"><a href="">Trikonasana</a></h4>
              <h2 class="time_challenge">Time: 8:30-8:45 AM</h2>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div><img class="image_yoga" src="../../static/yoggis/img/ustra.jpg "></div>
              <!-- <div class="icon"><i class="bx bx-world"></i></div> -->
              <h4 class="title"><a href="">Ustrasana</a></h4>
              <h2 class="time_challenge">Time: 6:00-6:15 AM</h2>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
    <section id="yogas" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">

          <p>Trending yogas</p>
        </div>

        <div class="row justify-content-center">
          {% for trend_yoga in trending_yogas %}
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="card card-custom">
              <a href="{% url 'yoga-detail' pk1=trend_yoga.id %}">
                <span class="clickable">
                  <img class="card-img-top" src="{{ trend_yoga.image.url }}" alt="Alternate">
                  <div class="card-body">
                    <h4 class="title">{{ trend_yoga.title }}</h4>
                    <p>{{ trend_yoga.description|truncatechars:80 }}</p>
                  </div>
                </span>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Pricing ======= -->
    <section id="plans" class="services section-bg pricing py-5">
      <div class="section-title">
        <p>Pricing</p>
      </div>
      <div class="container justify-content-center">
        <div class="row">
          <!-- Free Tier -->
          <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body  d-flex flex-column">
                <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                <h6 class="card-price text-center">Rs.0<span class="period">/month</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Accuracy Information</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Access to all yoga</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Real Time Analysis for 3 yoga</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Ad Supported</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Track your Progress</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Yoga Squad</li>
                </ul>
                <div class="d-grid">
                  <a href="#" class="btn btn-primary text-uppercase">Register Now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Plus Tier -->
          <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title text-muted text-uppercase text-center">Standard</h5>
                <h6 class="card-price text-center">Rs.500<span class="period">/month</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Single User</strong></li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Accuracy Information</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Access to all yoga</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Real Time Analysis for all yoga</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Ad Free</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Track your Progress</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Yoga Squad</li>
                </ul>
                <div class="d-grid">
                  <a href="#" class="btn btn-primary text-uppercase">Subscribe Now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Pro Tier -->
          <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="card">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title text-muted text-uppercase text-center">Shared</h5>
                <h6 class="card-price text-center">Rs.1600<span class="period">/month</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>4 Users</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>All Users have Standard Plan</li>
                </ul>
                <div class="d-grid mt-auto">
                  <a href="#" class="btn btn-primary text-uppercase">Subscribe Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= About the team ======= -->
    <section id="team" class="services section-bg team">
      <div class="container" data-aos="fade-up">
      <div class="section-title">

        <p>Our Team</p>
      </div>

        <div class="row gy-5">

          <div class="col-xl-3 col-md-5 d-flex" data-aos="zoom-in" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'yoggis/img/user.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Nadika Poudel</h4>
                <span>ML Specialist</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-5 d-flex" data-aos="zoom-in" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'yoggis/img/user.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Mahima Dhakal</h4>
                <span>Frontend Specialist</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-5 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'yoggis/img/user.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Krishbin Paudel</h4>
                <span>Backend Specialist</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-5 d-flex" data-aos="zoom-in" data-aos-delay="600">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'yoggis/img/user.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Banshaj Paudel</h4>
                <span>Design and Research Specialist</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section>
    <!-- ======= Footer ======= -->
    <footer id="footer">



      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>Yoggis</h3>
              <p>
                Pulchowk <br>
                Lalitpur, 44600<br>
                Nepal<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Social Networks</h4>
              <p></p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>

          </div>
        </div>
      </div>


    </footer><!-- End Footer -->

    {% endblock main %}