<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
    <li>{{user.first_name}}</a></li>
    <li>{{user.email}}</a></li>
    
    {% for dis in name %}
    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" >
        
        <span class="clickable" >
          <div class="icon-box">
          <div class="icon" ><h3 class="title">{{ dis.type }}</h4></div>
         
          </div>
        </span>
      </a>
      </div>
      {% endfor %}

    <h1>Add Category</h1>
    <form action="category" method="post">
        {% csrf_token %}
        <input type="text" name="category" placeholder="category"><br>
        <input type="Submit">
    </form>
    <div>
        {% for message in messages %}
        <h3> {{message}}  </h3>
        {% endfor %}
    </div>
</body>
</html>