{% extends "yoggis/common.html" %}
{% block main %}

{% load static %}
<br>
<br>
<!-- ======= Services Section ======= -->


<section id="plans" class="services section-bg pricing py-5">


  <div class="container justify-content-center">
    <div class="row">
      <!-- Free Tier -->
    
        <div class="card mb-5 mb-lg-0">
          <div class="card-body  d-flex flex-column">
          

            <div class="card-body  d-flex flex-column">
              <div style="display: flex; padding:10px">


                <section id="profile" class="services ">
                  <div class="section-title">
                
                    <p>Hi !! {{user.username}}</p>
                </div>
                    <div class="container" data-aos="fade-up">                
                       
                                    <h5> <b>Name : </b> {{user.first_name}}</h5>
                                    <h5> <b>Email: </b> {{user.email}} </h5>  
<br><br>
                                    <h5><b>Disease Categories </b> </h5>
                                    <h6 >Back Pain</h6>
                                    <h6 >Aasthma</h6>
                                        <h6 >{{ s_name.user_disorder }}</h6>
                                                                       
                          
                                                 
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ADD<i class="bi bi-plus"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for dis in name %}
                                        <a class="dropdown-item" href="{% url 'update-usersd' dis.id %}">{{ dis.type }}</a>                                                                           
                                    {% endfor %}
                                  
                                </div>
                                <br><br>
                            </div>
                 
                        <div>
                          
                        </div>
                
                    </div>
               
                </section><!-- End Services Section -->
                

               
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>

  </div>


  </div>

  </div>
</section>











{% endblock main %}