<meta http-equiv="Refresh" content="4000; url='../congratulations'" />
{% extends "yoggis/common.html" %}


{% block main %}

{% load static %}

<br>
<br>

<h1>{{ yoga.title }}</h1>

<section id="plans" class="services section-bg pricing py-5">


  <div class="container justify-content-center">
    <div class="row">
      <!-- Free Tier -->
     
        
        <div class="card mb-5 mb-lg-0">
          <div class="card-body  d-flex flex-column">
            <div style="display: flex; padding:20px">
            
              <img src="{% url 'video_feed' pk=24 %}" style="flex: 1; width: 90%;border-radius:8%">
         
            </div>


            <div class="card-body  d-flex flex-column">
              <div style="display: flex; padding:20px">


                <div style="flex: 1; margin-right: 20px; width: 90%">

                  <div class="card">
                    
                    <div style="flex: 1; width: 50%">
                      <button style="background-color:green;border-radius:8%" type="button" class="btn btn-success">
                         <span id="time">00:20 s</span> </button>
                 
                  </div>
                </div>
               

                 
                </div>
              </div>
            
          </div>


        </div>

      </div>
    </div>

  </div>


  </div>

  </div>
</section>

<!-- timer in html -->
<!-- Display the countdown timer in an element -->


<script>

  function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds+ " s";

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);
}

window.onload = function () {
    var fiveMinutes = 20,
        display = document.querySelector('#time');
    startTimer(fiveMinutes, display);
};
</script>


<!-- 
<script>
  var redirectTime = new Date('{{ request.session.redirect_time }}');
  var currentTime = new Date();
  var timeRemaining = redirectTime - currentTime;
  if (timeRemaining > 0) {
      setTimeout(function() {
          window.location.href = '{% url "congratulations" %}';
      }, timeRemaining);
  } else {
      window.location.href = '{% url "congratulations" %}';
  }
  </script> -->



{% endblock main %}