{% extends "yoggis/common.html" %}
{% block main %}
{% load static %}

<section id="yogas" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
      
        <p>Squad Yoga Session  </p>
      </div>

      <div class="row justify-content-center">
          
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="card card-custom">
            <img class="card-img-top" src=" ../../static/yoggis/img/tri.jpg  " alt="Card image cap">
              <div class="card-body">
                  <h4 class="title"><a href="">Mahima Dhakal</a></h4>
                  <p>Leaderboard score: 100</p>
              </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="card card-custom">
              <img class="card-img-top" src=" ../../static/yoggis/img/tri.jpg  " alt="Card image cap">
                <div class="card-body">
                    <h4 class="title"><a href="">Nadika Poudel</a></h4>
                    <p>Leaderboard score: 100</p>
                </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="card card-custom">
              <img class="card-img-top" src=" ../../static/yoggis/img/tri.jpg  " alt="Card image cap">
                <div class="card-body">
                    <h4 class="title"><a href="">Banshaj Paudel</a></h4>
                    <p>Leaderboard score: 100</p>
                </div>
            </div>
          </div>

       
    
      </div>

    </div>
  </section><!-- End Services Section -->


{% endblock main %}