<!DOCTYPE html>

<html>


  <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
                <img src="{% url 'video_feed' %}" width="100%">
            </div>
        </div>
    </div>
    
    <!-- <script>
        var redirectAfter = '{{ request.session.redirect_after }}';
        if (redirectAfter) {
            var redirectTime = new Date(redirectAfter);
            var currentTime = new Date();
            var timeRemaining = redirectTime - currentTime;
            if (timeRemaining <= 0) {
                window.location.href = '/chronic/';
            } else {
                setTimeout(function() {
                    window.location.href = '/chronic/';
                }, timeRemaining);
            }
        }
        </script> -->
        
  <!-- <script type="text/javascript">
      let url = `ws://${window.location.host}/ws/socket-server`

      const chatSocket = new WebSocket(url)

      chatSocket.onmessage = function (e) {
          let data = JSON.parse(e.data)
          console.log('Data', data)
      }
  </script> -->
    </body>


</html>