{% extends "yoggis/common.html" %}
{% block main %}

{% load static %}
<style>
    body {
        padding-top: 100px;
        font-family: "Open Sans", sans-serif;
        color: #212529;
    }

    @media (max-width: 979px) {
        body {
            padding-top: 0px;
        }
    }
</style>
<div class="container shadow-sm p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="column">
            <h2>{{ yoga.title }}</h2>
            <p>{{ yoga.description }}</p>
            {% if yoga.how_to_perform %}
            <h4>How to Perform:</h4>
            <p>{{ yoga.how_to_perform }}</p>
            {% endif %}
            <div class="row">
            {% if avoid_for %}
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" >
                <div class="container">
                    <h4 class="title">Avoid For:</h4><br>
                    <ul>
                        {% for avoid in avoid_for %}
                        <li>{{ avoid }}</li>
                        {% endfor %}
                    </ul>
                </div>

                </div>
            {% endif %}
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" >
                    <h4 class="title">Difficulty: {{ yoga.get_difficulty_display }}</h4>
                </div>
            </div>

            <div>
                <a href="{% url 'tpose' %}"><button class="btn btn-primary" id="start-yoga">Start Yoga</button></a>
            </div>
        </div>

        <div class="column">
            <div class="container">
                <img src="{{ yoga.image.url }}" class="img-fluid rounded d-block" style="height: fit-content;">
            </div>
            <div class="container">
                {% if leaderboard %}
                <div class="leaderboard">
                    <h1>
                        <svg class="ico-cup">
                            <use xlink:href="#cup"></use>
                        </svg>
                        Most active Yoggis
                    </h1>
                    <ol>
                        {% for leader in leaderboard %}
                        <li>
                            <mark>{{ leader.user.username }}</mark>
                            <small>{{ leader.score }}</small>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock main %}