<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/basic.css">
</head>
<body>
    <body>
        <section>
            <div class="container">
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="/static/img/tpose.png">
                        </div>
                        <div class="contentBx">
                            <h3>T-Pose<br></h3>
                        </div>
                    </div>
                   
                    <ul class="sci">
                  <li> An intensely powerful pose, this one strengthens the muscles of the legs and arms. </li>
                     </ul>
                     <ul class="sci">
                         <li class="x">
                            <form name="plans" action="/login">
                                <input type="Submit" class="btn">
                            </form>
                         </li>
                     </ul>
                  
                </div>
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="/static/img/warrior.jpeg">
                        </div>
                        <div class="contentBx">
                            <h3>Warrior II pose</h3>
                        </div>
                    </div>
                    <ul class="sci">
                       <li>It builds your willpower and has an energizing effect on the body and mind.</li>
                    </ul>
                    <ul class="sci">
                        <li class="x">
                           <form name="plans" action="/login">
                               <input type="Submit" class="btn">
                           </form>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img src="/static/img/treepose.jpeg">
                        </div>
                        <div class="contentBx">
                            <h3>Tree Pose</h3>
                        </div>
                    </div>
                    <ul class="sci">
                      <li>It tightens the abdominal muscles and strengthens shoulders and upper back.</li>
                    </ul>
                    <ul class="sci">
                        <li class="x">
                           <form name="plans" action="/login">
                               <input type="Submit" class="btn">
                           </form>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </body>
    <!-- <div class="title">
        <h1><span style="color: #ff9f43">BASIC PLAN</span></h1>
    </div>
    <div class="card1">
      <img src="/static/img/tadasan.png" alt="">
      <h3>Tadasan</h3>
      <p class="b">Tadasana, Mountain Pose or Samasthiti is a standing asana in modern yoga as exercise; it is not described in medieval hatha yoga texts.</p>
      <form name="plans" action="/login">
        <input type="Submit" class="btn btn-default btn-lg">
    </form>
    </div>
    
    <div class="card2">
      <img src="https://wallazee.global.ssl.fastly.net/images/dynamic/items/383-1024.png" alt="Eiffel Tower">
      <h3>Statue of Liberty</h3>
      <p class="b">The Statue of Liberty is a colossal neoclassical sculpture on Liberty Island in New York Harbor in New York City, in the United States.</p>
      <form name="plans" action="/login">
        <input type="Submit" class="btn btn-default btn-lg">
    </form>
    </div>
    
    <div class="card3">
      <img src="http://pluspng.com/img-png/download-taj-mahal-png-images-transparent-gallery-advertisement-1185.png" alt="">
      <h3>Taj Mahal</h3>
      <p class="b">The Taj Mahal is an ivory-white marble mausoleum on the south bank of the Yamuna river in the Indian city of Agra. It was commissioned in 1632 by the Mughal emperor.</p>
      <form name="plans" action="/login">
        <input type="Submit" class="btn btn-default btn-lg">
    </form>
    </div>
    <div class="footera">
    </div>
   -->
    
   
</body>
</html>